.notes {
  width: 100%;
  height: calc(90vh - 80px);
  background-color: #1e293b;
  margin-bottom: 40px;
  border-radius: 20px;
}
.notes-inner {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  margin: auto;
}
.note-nav {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.note-content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid red;
}
.note-header {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.header-item {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
}
.item-text {
  border-bottom: 1px solid #979aa2;
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 0px;
  overflow: hidden;
}
.item-text span {
  font-size: 12px;
  color: #979aa2;
}
.close-btn {
  width: 10%;
}


.note-text {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.search {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.add {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid green;
}
.add button {
  border: none;
  padding: 7px 15px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #4f46e5;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.search input {
  outline: none;
  display: block;
  background-color: transparent;
  width: 60%;
  height: 30px;
  border-radius: 0px;
  padding-left: 5px;
  border-bottom: 1px solid #979aa2;
}
.search input::-webkit-input-placeholder {
  color: #ededed;
}
.search input::-moz-placeholder {
  color: #ededed;
}

/* @media (max-width: 768px) {
  .search input {
    width: 100%;
  }
  .search {
    width: 50%;
  }
  .add {
    width: 50%;
  }
} */


@media (max-width: 768px) {
  .notes {
    height: auto;
  }
  .notes-inner {
    width: 95%;
    height: 60%;
    flex-direction: column;
  }
  .note-nav {
    width: 100%;
    height: 100%;
  }
  .note-content {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
}