.dashboard{
    width: 100%;
    height: auto;
    .header{
        width: 100%;
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        .sales,.products,.projects,.tasks{
            width: 25%;
            height: 150px;
            border-radius: 5px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid red;
        }
    }
    .graphics{
        margin-top: 20px;
    }
}