.post {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .header-container {
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .inputs {
      width: 55%;
      height: 150px;
      border-radius: 5px;
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 10px;
      label {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
      }
      .tag-input {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        background-color: #454545;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 5px;
        cursor: text;
        .buttonref {
          display: none;
        }
        button {
          height: 30px;
          border: none;
          display: flex;
          align-items: center;
          background-color: #f1f3f6;
          gap: 10px;
          padding: 5px 7px;
          border-radius: 5px;
          color: #000;
          cursor: pointer;
          span {
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #454545;
            color: #fff;
          }
        }
        input {
          height: 30px;
          outline: none;
          border: none;
          border-radius: 3px;
          color: #fff;
          padding: 12px 8px;
        }
      }
    }
    .info {
      width: 40%;
      height: 150px;
      border-radius: 5px;
      padding: 15px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .info-item {
        width: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid;
        border-color: initial;
        border-radius: 5px;
        cursor: pointer;
        p {
          width: 100%;
          height: 40px;
          font-size: 30px;
          font-weight: bold;
          text-align: center;
        }
        span {
          width: 100%;
          height: 30px;
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }
  .article {
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
  }
  .save {
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    .info-mob {
      display: none;
      gap: 20px;
      .info-mob-item {
        display: flex;
        align-items: center;
        gap: 5px;
        p {
          font-weight: bold;
        }
      }
    }
    button {
      border: none;
      padding: 7px 25px;
      text-transform: uppercase;
      border-radius: 3px;
      background-color: #007bff;
      color: #ffffff;
      font-weight: 600;
      letter-spacing: 0.5px;
      cursor: pointer;
    }
  }
  .comments {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 20px;
    .comment-item {
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 5px;
      .comment-content {
        width: 80%;
        height: 100%;
        overflow: auto;
        div:first-child {
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 5px;
        }
      }
    }
    .comment-btn {
      cursor: pointer;
    }
  }
  .comment-null {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 5px;
  }
}

@media (max-width: 1300px) {
  .post {
    .header-container {
      height: auto;
      .inputs {
        width: 65%;
      }
      .info {
        display: none;
      }
    }
    .save {
      justify-content: space-between;
      .info-mob {
        display: flex;
      }
    }
  }
}
@media (max-width: 768px) {
  .post {
    .header-container {
      .inputs {
        width: 100%;
      }
    }
    .comments {
      margin-top: 60px;
      grid-template-columns: repeat(1, 1fr);
    }
    .comment-null {
      margin-top: 60px;
    }
  }
}
