.post{
    width: 100%;
    height: 80vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .header-container{
        width: 100%;
        height: 20vh;
        border: 1px solid blue;
        display: flex;
        justify-content: space-between;
    }
    .article{
        width: 100%;
        height: 55vh;
        border: 1px solid orange;
    }
    .save{
        width: 100%;
        height: 5vh;
        border: 1px solid green;
    }
}
