.sidebar .items {
  width: 100%;
}
.sidebar .brand {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .links {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar .navlink {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
}
.sidebar .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.dropdown-menu {
  flex-direction: column;
  padding-left: 50px;
  box-sizing: border-box;
}

.sidebar .brand span {
  display: none;
}

@media (max-width: 500px) {
  .sidebar {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .sidebar .brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .sidebar .brand span {
    display: block;
  }
}
