.sidebar {
  width: 240px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #2D3446;
}
.sidebar-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.brand {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1F2431;
}
.brand-logo {
  display: none;
}
.brand-text{
  color: #ededed;
  text-decoration: none;
}
.item-link {
  width: 96%;
  color: #788195;
  text-decoration: none;
  padding: 6px 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 20px;
}
.item-link:hover {
  transition: all 300ms ease-in-out;
  color: #ededed;
  background-color: #1F2431;
}
.shapes{
  width: 100%;
  height: 200px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}