.sidebar {
  width: 240px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #0F172A;
  transition: all 300ms ease-in-out;
  border-right: 2px solid #1E293B;
  padding-right: 5px;
}
.sidebar-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brand {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #0F172A;
  margin-bottom: 10px;
}
.brand-letter{
  color: #ffffff;
  text-decoration: none;
}
.brand-text {
  color: #ffffff;
  text-decoration: none;
}
.item-link {
  width: 80%;
  color: #979AA2;
  text-decoration: none;
  padding: 6px 0;
  padding-left: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 20px;
  border: none;
  background-color: #0F172A;
  cursor: pointer;
}

.item-link:hover {
  transition: color 300ms ease-in-out;
  color: #ffffff;
}
.item-link.active {
  background-color: #1E293B;
  color: #ffffff;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.info span{
  width: 80%;
  color: #979AA2;
  text-decoration: none;
  padding: 6px 0;
  padding-left: 15px;
  font-size: 18px;
  border: none;
  background-color: #0F172A;
}



@media (max-width: 768px) {
  .sidebar {
    width: 50px;
  }
  .item-link {
    width: 80%;
  }
  .item-link-mob {
    width: 80%;
  }
  .link-text {
    display: none;
  }
  .brand-text {
    display: none;
  }
  .brand-letter{
    display: flex;
  }
  .d-none {
    display: none;
  }
}
