.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar ul li,
.nav-btn {
  cursor: pointer;
}
.nav-close-btn {
  display: none;
}
.navbar button {
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}
.nav-dropdown{
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  padding: 10px;
}
@media (max-width: 500px) {
  .nav-close-btn {
    display: block;
  }
}
