body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #171717;
  color: #ffffff;
}
.app {
  width: 100%;
  height: auto;
  display: flex;
}
.content {
  width: 100%;
  /* padding: 20px 10px; */
  /* border: 1px solid green; */
}
.nav {
  width: 60px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  color: #ededed;
  background-color: #171717;
  border: none;
  cursor: pointer;
}
