body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0F172A;
  color: #ffffff;
}
.app {
  width: 100%;
  height: auto;
  display: flex;
}
.content {
  width: 100%;
  height: auto;
}
.container{
  padding: 0px 4%;
}
.nav {
  width: 60px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  color: #ededed;
  background-color: transparent;
  border: none;
  cursor: pointer;
}